<div class="displayflex">
    <div class="nav">
        <div class="list">
            <ul>
                <li routerLink="/home">HOME</li>
                <li routerLink="/admission">ADMISSION</li>
                <li routerLink="/coursedetails">COURSE DETAILS</li>
                <li routerLink="/fees">FEES</li>
                <li routerLink="/staff">STAFF</li>
                <li routerLink="/timetable">TIME-TABLE</li>
                <li routerLink="/attendance">ATTENDANCE</li>   
            </ul>
        </div>
        <p>&#169; All rights reserved</p>
    </div>
</div>
