<!-- <div class="timetable">
    <table>
        <tr>
            <th>Days</th>
            <th>8:00AM - 9:00AM</th>
            <th>9:00AM - 10:00AM</th>
            <th>10:00AM - 11:00AM</th>
            <th>11:00AM - 12:00PM</th>
            
        </tr>
        <tr>
            <th>MON</th>
            <td>Phy</td>
            <td>Maths</td>
            <td>Chem</td>
            <td>Bio</td>
        </tr>

        <tr>
            <th>TUE</th>
            <td>chem</td>
            <td>Maths</td>
            <td>Phy</td>
            <td>CS</td>
        </tr>

        <tr>
            <th>WED</th>
            <td>chem</td>
            <td>Phy</td>
            <td>Maths</td>
            <td>Bio</td>
        </tr>

        <tr>
            <th>THUR</th>
            <td>CS</td>
            <td>Maths</td>
            <td>Phy</td>
            <td>Chem</td>
        </tr>

        
        <tr>
            <th>FRI</th>
            <td>Bio</td>
            <td>Maths</td>
            <td>Chem</td>
            <td>Phy</td>
        </tr>

        <tr>
            <th>SAT</th>
            <td>Bio</td>
            <td>Maths</td>
            <td>Chem</td>
            <td>Phy</td>
        </tr>
    </table>
</div> -->

<div class="container">
    <div class="table">
      <div class="table-header">
        <div class="header__item">Days</div>
        <div class="header__item">8:00AM - 9:00AM</div>
        <div class="header__item">9:00AM - 10:00AM</div>
        <div class="header__item">10:00AM - 11:00AM</div>
        <div class="header__item">11:00AM - 12:00PM</div>
      </div>
      <div class="table-row">
        <div class="header__item"><b>MON</b></div>
        <div class="table-data">Phy</div>
        <div class="table-data">Maths</div>
        <div class="table-data">Chem</div>
        <div class="table-data">Bio</div>
      </div>
      <div class="table-row">
        <div class="header__item"><b>TUE</b></div>
        <div class="table-data">Chem</div>
        <div class="table-data">Maths</div>
        <div class="table-data">Phy</div>
        <div class="table-data">CS</div>
      </div>
      <div class="table-row">
        <div class="header__item"><b>WED</b></div>
        <div class="table-data">Chem</div>
        <div class="table-data">Phy</div>
        <div class="table-data">Maths</div>
        <div class="table-data">Bio</div>
      </div>
      <div class="table-row">
        <div class="header__item"><b>THUR</b></div>
        <div class="table-data">CS</div>
        <div class="table-data">Maths</div>
        <div class="table-data">Phy</div>
        <div class="table-data">Chem</div>
      </div>
      <div class="table-row">
        <div class="header__item"><b>FRI</b></div>
        <div class="table-data">Bio</div>
        <div class="table-data">Maths</div>
        <div class="table-data">Chem</div>
        <div class="table-data">Phy</div>
      </div>
      <div class="table-row">
        <div class="header__item"><b>SAT</b></div>
        <div class="table-data">Phy</div>
        <div class="table-data">Maths</div>
        <div class="table-data">CS</div>
        <div class="table-data">Chem</div>
      </div>
    </div>
  </div>
  
