<div class="logo">
    <div class="displayflex">
        <img src="assets/Img/bldea.png" alt="logo">

        <div class="heading">
            <p>BLDEA's Dr. P. G. Halakatti College of Engineering & Technology, Vijayapura Engineering</p>
        </div>
        
        <img id="amrit" src="assets/Img/amrit.png" alt="logo">
    </div>
</div>

<div class="navbar">
    <div class="list">
        <ul>
            <li routerLink="/home">HOME</li>
            <li>ADMISSION</li>
            <li>COURSE DETAILS</li>
            <li>FEES</li>
            <li routerLink="/staff">STAFF</li>
            <li routerLink="/timetable">TIME-TABLE</li>
            <li>ATTENDANCE</li>  
        </ul>
    </div>
</div>
