<div class="container">
    <h3>PCMB Career Options</h3>
    <p>PCMB is a combination of science subjects comprises of Physics, Chemistry, Mathematics and Biology, which are
        taken in the first year of the Pre-University course. Students after successful completion of the PCMB Course in
        the second year PUC can choose either Engineering, Medical, or professional degree courses related to PCMB
        subjects. There are various competitive exam options after completion of the PCMB course, which include JEE
        (Engineering), NEET (Medical/Dental), BITSAT, COMED-K, NDA, and other state levels as well as national level
        entrance examinations.</p>
    <h3>Eligibility</h3>
    <ul>
        <li>Admission to PCMB Course in Bangalore is strictly based on the merits as per the norms of the Pre-University
            Board, the Government of Karnataka.</li>
        <li>Students who have passed 10th/SSLC/or any other equivalent examination recognized by the PU Board Department
            are eligible for the admission.</li>
        <li>PCMB course duration is two years</li>
    </ul>
    <h3>PCMB Career Options - Courses After 12th Science PCMB</h3>
    <ul>
        <li>MBBS , MD (Bachelor of medicine and Bachelor of Surgery , Doctor of Medicine)</li>
        <li>BDS ( Bachelor of Dental Surgery)</li>
        <li>BAMS ( Bachelor of Ayurveda Medicine and Surgery)</li>
        <li>Pharmacology</li>
        <li>Bio- Medical engineering</li>
    </ul>
    <br>
    <h3>PCMC Career Options</h3>
    <p>What are the options for PCMC career options? PCMC would refer to a subject combination of Physics, Chemistry,
        Maths, and Computers. Nowadays, there are thousands of professional courses to choose from, making it harder
        than ever to determine which career path to take and what holds the key to a successful future. The PCMC subject
        combination offers a wide array of career options for science students. However, it's important to understand
        your options and how to steer your career in the right direction. Read this article to know more about the PCMC
        jobs list and salary and PCMC course jobs salary per month.</p>
    <h3>PCMC Career Options - Courses After 12th Science PCMC</h3>
    <ul>
        <li>BTech Computer Science</li>
        <li>BTech Aeronautical Engineering</li>
        <li>BArch</li>
        <li>BCA</li>
        <li>BSc Computer Science</li>
        <li>BSc Aviation</li>
    </ul>
</div>