<div class="content">
    <div class="clgpic">
        <img src="assets/Img/clg.jpg" alt="clg pic">
    </div>
    <div class="ptag">
        <p>Established in 1910 by Vachana Pitamaha Dr P. G. Halakatti to serve society, BLDEA (Bijapur Lingayat District Educational Association) has a history of more than 100 years. Visionary leaders such as Shri Sanganabasaveshwar Maha Shivayogigalu of Banthanal, Shri B. M. Patil and Shri M. B. Patil have nurtured and expanded BLDEA over the years. BLDEA's goal is to use education as a tool to bring about social and economic transformation in the North Karnataka region, empower women and the oppressed, reduce social inequality in educational opportunity and contribute to national development. BLDEA (Bijapur Lingayat Education Association) is a leading education organization in the North Karnataka region. It has a legacy of more than 100 years and 75 education institutions under its banner, which comprise professional institutes.

        BLDE's goal is to use education as a tool to bring about social and economic transformation in the North Karnataka region, empower women and the oppressed, reduce social inequality in educational opportunity and contribute to national development.</p>
    </div>
</div>
